*{
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.con {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: #73CBD8;
    height: 90px;
}

.formulario {
padding-top: 40px;
}

.btn{
    background-color: #73CBD8
}