* {
    
    font-family: 'Dosis', sans-serif;
}

.img_habitaciones{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.reservar{
    display: flex;
    justify-content: end;
    align-items: center;
}